.banner-wrapper {
    padding-bottom: 20px;
}

.talent-name {
    font-size: 1.6rem;
    font-weight: 600;
}

.talent-role {
    font-size: 1.2rem;
    color: var(--neutral-color);
}

.talent-bio {
    margin-bottom: 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.skill-tags-title {
    font-size: 1.2rem;
}

.work-wrapper {
    padding: 20px 30px !important;
}

.work-title {
    margin-bottom: 24px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
}

.work-subtitle {
    color: var(--neutral-color);
}

.work-subtitle_price {
    font-weight: 500;
}

.work-desc {
    margin-top: 10px;
    font-size: 1.2rem;
}
