.banner-wrapper {
    padding-bottom: 20px;
}

.talent-name {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
}

.talent-role,
.skill-tags-title {
    font-size: 1.4rem;
    line-height: 1.6rem;
    color: var(--neutral-color);
}

.talent-bio {
    font-size: 1.2rem;
    line-height: 1.8rem;
}

.skill-tags-title {
    color: #000;
}