.card-wrapper {
    padding-bottom: 20px;
}

.work-wrapper {
    padding: 20px 30px !important;
}

.work-title {
    margin-bottom: 24px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    font-weight: 600;
}

.work-subtitle {
    color: var(--neutral-color);
}

.work-subtitle_price {
    font-weight: 500;
}

.work-desc {
    margin-top: 10px;
    font-size: 1.4rem;
}
